* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-search {
  fill: #000000;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons-link {
  text-decoration: none;
  opacity: 0.24;
}
.icons-link:hover {
  opacity: 0.7;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
